<!-- Header -->
<header id="header">
  <div class="inner">
    <a href="{{ "/" | relative_url }}" class="image avatar">
      {% if site.logo %}
        <img src="{{ site.logo | relative_url }}" alt="{{ site.title | escape }}" />
      {% elsif site.github_username %}
        {% avatar {{ site.github_username }} size=128 %}
      {% else %}
        {{ site.title | escape }}
      {% endif %}
    </a>
    <h1>
      <strong>{{ site.title | escape }}</strong><br />
      <nav>
		{%- assign default_paths = site.pages | map: "path" -%}
        {%- assign nav_paths = site.nav | default: default_paths -%}
		{%- for path in nav_paths -%}
          {%- assign nav = site.pages | where: "path", path | first -%}
          {%- if nav.title -%}
            <a class="page-link" href="{{ nav.url | relative_url }}">{{ nav.title | escape }}</a>
          {%- endif -%}
        {%- endfor -%}
      </nav>
      {{ site.description | escape }}
    </h1>
  </div>
</header>
